@font-face {
    font-weight: 400;
    font-family: stratosskyeng;
    src: url('./fonts/Web\ fonts/stratosskyengweb-regular.woff');
}

* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #004980;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-choose-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
}

.level-choose-text {
    width: 202px;
    text-align: center;
    color: #004980;
    margin-top: 52px;
    font-family: var(--stratosskyeng);
    font-weight: 400;
    font-size: 40px;
}

.levels {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.form_radio_btn {
    display: inline-block;
}

.form_radio_btn input[type='radio'] {
    display: none;
}

.form_radio_btn label {
    background-color: white;
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #0080c1;
    border: none;
    font-family: var(--stratosskyeng);
    font-weight: 400;
    font-size: 64px;
    transition: 0.2s;
    user-select: none;
}

.form_radio_btn label:hover {
    scale: 1.1;
    background-color: #7ac100;
    color: white;
}

.form_radio_btn input[type='radio']:checked + label {
    scale: 1.1;
    background-color: #7ac100;
    color: white;
}

.start-button {
    width: 256px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #7ac100;
    color: white;
    margin-top: 67px;
    font-family: var(--stratosskyeng);
    font-weight: 400;
    font-size: 24px;
    transition: 0.2s;
}

.start-button:hover {
    background-color: #004980;
}

.start-button:active {
    scale: 0.9;
}

/* Верстка уровня */

.container-level {
    background-color: #004980;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 975px;
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 35px;
}

.stopwatch-minsek {
    position: absolute;
    width: 150px;
    font-size: 16px;
    display: flex;
    justify-content: end;
    gap: 57px;
}

.stopwatch-time {
    font-size: 64px;
    padding-top: 10px;
}

.restart-button {
    width: 256px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #7ac100;
    color: white;
    font-weight: 400;
    font-size: 24px;
    transition: 0.1s;
}

.restart-button:hover {
    background-color: #a0df34;
}

.cards-box {
    width: 975px;
    height: 577px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-image: url('./img/рубашка.png');
    width: 95px;
    height: 133px;
}

.card-1 {
    background-image: url('./img/туз\ пики.png');
}

.card-2 {
    background-image: url('./img/король\ пики.png');
}

.card-3 {
    background-image: url('./img/дама\ пики.png');
}

.card-4 {
    background-image: url('./img/валет\ пики.png');
}

.card-5 {
    background-image: url('./img/10\ пики.png');
}

.card-6 {
    background-image: url('./img/9\ пики.png');
}

.card-7 {
    background-image: url('./img/8\ пики.png');
}

.card-8 {
    background-image: url('./img/7\ пики.png');
}

.card-9 {
    background-image: url('./img/6\ пики.png');
}

.card-10 {
    background-image: url('./img/туз\ черви.png');
}

.card-11 {
    background-image: url('./img/король\ черви.png');
}

.card-12 {
    background-image: url('./img/дама\ черви.png');
}

.card-13 {
    background-image: url('./img/валет\ черви.png');
}

.card-14 {
    background-image: url('./img/10\ черви.png');
}

.card-15 {
    background-image: url('./img/9\ черви.png');
}

.card-16 {
    background-image: url('./img/8\ черви.png');
}

.card-17 {
    background-image: url('./img/7\ черви.png');
}

.card-18 {
    background-image: url('./img/6\ черви.png');
}

.card-19 {
    background-image: url('./img/туз\ бубны.png');
}

.card-20 {
    background-image: url('./img/король\ бубны.png');
}

.card-21 {
    background-image: url('./img/дама\ бубны.png');
}

.card-22 {
    background-image: url('./img/валет\ бубны.png');
}

.card-23 {
    background-image: url('./img/10\ бубны.png');
}

.card-24 {
    background-image: url('./img/9\ бубны.png');
}

.card-25 {
    background-image: url('./img/8\ бубны.png');
}

.card-26 {
    background-image: url('./img/7\ бубны.png');
}

.card-27 {
    background-image: url('./img/6\ бубны.png');
}

.card-28 {
    background-image: url('./img/туз\ крести.png');
}

.card-29 {
    background-image: url('./img/король\ крести.png');
}

.card-30 {
    background-image: url('./img/дама\ крести.png');
}

.card-31 {
    background-image: url('./img/валет\ крести.png');
}

.card-32 {
    background-image: url('./img/10\ крести.png');
}

.card-33 {
    background-image: url('./img/9\ крести.png');
}

.card-34 {
    background-image: url('./img/8\ крести.png');
}

.card-35 {
    background-image: url('./img/7\ крести.png');
}

.card-36 {
    background-image: url('./img/6\ крести.png');
}
