@font-face {
    font-weight: 400;
    font-family: stratosskyeng;
    src: url('./fonts/Web\ fonts/stratosskyengweb-regular.woff');
}

* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #004980;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-choose-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
}

.level-choose-text {
    width: 202px;
    text-align: center;
    color: #004980;
    margin-top: 52px;
    font-family: stratosskyeng, sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.levels {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.form_radio_btn {
    display: inline-block;
}

.form_radio_btn input[type='radio'] {
    display: none;
}

.form_radio_btn label {
    background-color: white;
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #0080c1;
    border: none;
    font-family: stratosskyeng, sans-serif;
    font-weight: 400;
    font-size: 64px;
    transition: 0.2s;
    user-select: none;
}

.form_radio_btn label:hover {
    scale: 1.1;
    background-color: #7ac100;
    color: white;
}

.form_radio_btn input[type='radio']:checked + label {
    scale: 1.1;
    background-color: #7ac100;
    color: white;
}

.start-button {
    width: 256px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #7ac100;
    color: white;
    margin-top: 67px;
    font-family: stratosskyeng, sans-serif;
    font-weight: 400;
    font-size: 24px;
    transition: 0.2s;
}

.start-button:hover {
    background-color: #004980;
}

.start-button:active {
    scale: 0.9;
}

/* Верстка уровня */

.container-level {
    background-color: #004980;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-level-after::after {
    content: '';
    background-color: #004980;
    position: absolute;
    inset: 0;
    opacity: 0.9;
}

.header {
    width: 975px;
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 35px;
}

.stopwatch-minsek {
    position: absolute;
    width: 150px;
    font-size: 16px;
    display: flex;
    justify-content: end;
    gap: 57px;
}

.stopwatch {
    font-size: 64px;
    padding-top: 10px;
}

.restart-button {
    width: 256px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #7ac100;
    color: white;
    font-weight: 400;
    font-size: 24px;
    transition: 0.1s;
}

.restart-button:hover {
    background-color: #a0df34;
}

.hidden {
    display: none;
}

.cards-box {
    width: 975px;
    height: 577px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    perspective: 1000px;
}

.memory-card {
    width: 95px;
    height: 133px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.1s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

/* final screen */

.final-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-lose-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
}

.win-img {
    background-image: url('./img/win-lose/win.svg');
    width: 96px;
    height: 96px;
    margin-bottom: 9px;
}

.lose-img {
    background-image: url('./img/win-lose/lose.svg');
    width: 96px;
    height: 96px;
    margin-bottom: 9px;
}

.win-lose-title {
    color: #004980;
    font-size: 40px;
    margin-bottom: 28px;
}

.win-lose-text {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.win-lose-time {
    color: black;
    font-size: 60px;
    margin-bottom: 40px;
}
